<%= stylesheet_link_tag "application"%>

<!DOCTYPE html>
<html>
  <head>
    <title>Blogapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  </head>

  <body>
    <p class="notice"><%= notice %> </p>
    <p class="alert"><%= alert %> </p>

    
  <% if user_signed_in? %><%= stylesheet_link_tag "application"%>
      <button class="mybtn2" type="button"><%= link_to "Sign out", destroy_user_session_path, method: :DELETE %><button>
   <% end %> 
    <%= yield %>
  </body>
</html>
